body {
  text-align: center;
  font-family: Dosis;
}

.fluid-container {
  background-color: rgb(217, 220, 230);
  border-radius: 1%;
  display: inline-block;
  margin: 50px;
}

h2 {
  font-style: italic;
}

img {
  margin: 0 auto;
  width: 50%
}

li:before {
  content: '🗸';
  margin-left: -1em;
  margin-right: .100em;
}

li {
  margin: 1em 0;
  color: rgb(20,20,80);
}

ul {
  text-align: left;
  padding-left: 20px;
  text-indent: 2px;
  list-style: none;
  list-style-position: outside;
}

a {
  text-align: left;
}

#red-beanie {
  color: red;
  font-family: Lobster Two;
}

#fun-facts{
  margin: 20px;
}